.buttonm {
    background-color: #e7e7e7;
    color: black;
}

.bg-custom {
    background-color: #ffffff;
}


.bg-blue {
    background-color: #d25631;
}

.image {
    width: 100%;

}

.contenedor h1,
.contenedor p {
    color: #ffffff;
}

.social{
    position: absolute;
    left: 40px;
}

.social2{
    position: absolute;
    left: 80px;
}

.logo{
    position: none;
}

@media screen and (min-width:468px) { 
    .logo {
          width:50px;
          height:23px;
      }
  }